.App {
    min-height: 100vh;
    background-image: url("./assets/home-bg.jpg");
    background-size: cover;
    background-position: center;
}
/* for removing scroll bar aside chat list */
::-webkit-scrollbar {
    width: 0px;
}
